@charset "UTF-8";
*{
    margin: 0px;
}
@media screen and (min-width:1025px) and (max-width:1440px){
header{
    position: sticky;
    top: -1px;
    background-color: rgb(250, 160, 160);
    height: 100px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.445);
    }
    #logoGl{
        position: absolute;
        width: 110px;
        height: 80px;
        left: 10%;
        top: 30%;
        transform: translate(-10%, -30%);
    }
    #iconeMenu2{
        display: none;
        position: absolute;
        width: 50px;
        height: 50px;
        left: 90%;
        top: 50%;
        transform: translate(-90%, -50%);
        }
    #iconeMenu{
        display: none;
        position: absolute;
        width: 50px;
        height: 50px;
        left: 90%;
        top: 50%;
        transform: translate(-90%, -50%);
        }
        #navIndor{  
            position: absolute;
            top: 50%;
            left: 70%;
            transform: translate(-70%, -50%);
            width: 50vw;
  
        }
                #navAgendamentosIndor{
                    text-decoration: none;
                    font-size: 25px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    padding: 15px;
                    color: rgb(250, 248, 248);
                    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.493);
                    border-radius: 20px;
                }
                #navProcedimentosIndor{
                    text-decoration: none;
                    font-size: 25px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    padding: 15px;
                    color: rgb(250, 248, 248);
                    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.493);
                    border-radius: 20px;
                }
                #navProcedimentosIndor:hover, #navAgendamentosIndor:hover{
                    background-color: rgb(252, 222, 232);
                         color: rgb(207, 72, 72);
                }
#navOutdor{
    display: none;
    position: sticky;
    top: 87px;
    background-color: rgb(250, 160, 160);
    height: 94px;
    text-align: center;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.363);
    }
                #navAgendamentosOutdor{
                    text-decoration: none;
                    font-size: 25px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,               sans-serif;
                    padding: 10px;
                    color: rgb(250, 248, 248);
                    display: block; 
                    }
                #navProcedimentosOutdor{
                    text-decoration: none;
                    font-size: 25px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,               sans-serif;
                    padding: 05px;
                    color: rgb(250, 248, 248);
                    display: block;
                    }
                #navProcedimentosOutdor:hover, #navAgendamentosOutdor:hover{
                    background-color: rgb(252, 222, 232);
                     color: rgb(207, 72, 72);
                }
                main{
                    margin: auto;
                    width: 600px;
                    height: 300px;
                    background-color: rgb(250, 160, 160);
                    border-radius: 15px;
                    }
                    h1{
                    margin-top: 10px;
                    margin-bottom: 10px;
                    text-align: center;
                    font: 15pt bolder arial;
                    }
                    form{
                    position: relative;
                    }
                        #idnomelabel{
                        position: absolute;
                        top: 8%;
                        left: 5%;
                        transform: translate(-5%, -8%);
                        font-size: 20px;
                        }
                            #idnome{
                            position: absolute;
                            left:18% ;
                            top:9%;
                            transform: translate(-18%, -9%);
                            width: 140px;
                            text-align: center;
                            border: 1px groove black;
                            }
                        #idsobrenomelabel{
                        position: absolute;
                        top: 54%;
                        left: 5%;
                        transform: translate(-5%, -54%);
                        font-size: 20px;
                        }
                            #idsobrenome{
                            position: absolute;
                            left:30% ;
                            top:54%;
                            transform: translate(-30%, -54%);
                            width: 150px;
                            text-align: center;
                            border: 1px groove black;
                            }
                        #ididadelabel{
                            position: absolute;
                            top: 8%;
                            left: 65%;
                            transform: translate(-65%, -8%);
                            font-size: 20px;
                            }
                            #ididade{
                            position: absolute;
                            left:78% ;
                            top:9%;
                            transform: translate(-78%, -9%);
                            width: 100px;
                            text-align: center;
                            border: 1px groove black;
                             }
                        #h31{
                            position: absolute;
                            top: 67%;
                            width: 600px;
                            left: 10%;
                            transform: translate(-10%, -67%);
                            font-size: 1.3em;
                            text-align: center;
                            
                        }
                        #idfaciallabel{
                            position: absolute;
                            top: 88%;
                            left: 5%;
                            transform: translate(-5%, -88%);
                            font-size: 20px;
                            }   
                            #idfacial{
                            position: absolute;
                            left:5% ;
                            top:98%;
                            transform: translate(-5%, -98%);
                            width: 150px;
                            text-align: center;
                            border: 1px groove black;
                            }
                        #idcorporallabel{
                            position: absolute;
                            top: 128%;
                            left: 5%;
                            transform: translate(-5%, -128%);
                            font-size: 20px;
                            }
                            #idcorporal{
                            position: absolute;
                            left:5% ;
                            top:138%;
                            transform: translate(-5%, -138%);
                            width: 150px;
                            text-align: center;
                            border: 1px groove black;   
                            }
                        #iddatalabel{
                            position: absolute;
                            top: 88%;
                            left: 40%;
                            transform: translate(-40%, -88%);
                            font-size: 20px;
                            }   
                            #iddata{
                            position: absolute;
                            left:40% ;
                            top:98%;
                            transform: translate(-40%, -98%);
                            width: 100px;
                            text-align: center;
                            border: 1px groove black;        
                            }
                        
                        #idhorarioagendamentolabel{
                            position: absolute;
                            top: 128%;
                            left: 40%;
                            transform: translate(-40%, -128%);
                            font-size: 20px;
                            }
                            #idhorarioagendamento{
                            position: absolute;
                            left:40% ;
                            top:142%;
                            transform: translate(-40%, -142%);
                            text-align: center;
                            }
                            #h32{
                                display: none;
                            }
                            #legenda{
                                position: absolute;
                                top: 1%;
                                height: 10px;
                                
                                
                            }
                            #quadrofieldset{
                                position: absolute;
                                top: 15%;
                                left: 50%;
                                transform: translate(-50%, -15%);
                                height: 60px;
                                width: 550px;
                                
                                box-shadow: 0px 0px 2px black;
                                background-color: antiquewhite;
                                
                            }
                        #idbotaoenviar{
                        position: absolute;
                        left: 90%;
                        top: 170%;
                        transform: translate(-90%, -170%);
                        }
                        #idreset{
                        position: absolute;
                        left:65%;
                        top: 170%;
                        transform: translate(-65%, -170%);
                        }
}                
                