@charset "UTF-8";

@font-face {
    font-family: 'glaucia';
    src: url('/site-glaucia/fontes/PassionOne-Regular.ttf') format('truetype');
    font-weight: 300;
} 
@font-face {
    font-family: 'glauciatitulo';
    src: url('/site-glaucia/fontes/Lobster-Regular.ttf') format('truetype') ;
    font-weight: 500;
}

@media screen and (min-width:1440px){
    header{
        height: 140px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.603);
        position: sticky;
        top: -1px; 
    }

        #logoGl{
        position: absolute;
        width: 180px;
        height: 110x;
        left: 10%;
        top: 30%;
        transform: translate(-10%, -30%);
    }

        #iconeMenu{
        display: none;
        position: absolute;
        width: 40px;
        height: 50px;
        top: 50%;
        left: 89%;
        transform: translate(-89%, -50%);
        }

        #navIndor{
            display: block;
            position:relative;
            width: 870px;
            height: 120px;
            top: 70px;
            left: 55%;
            text-align: center;
            padding: 10px;
            
            
        }
                     #navAgendamentosIndor{
                        position: absolute;
                        left: 5%;
                        top: 50%;
                        transform: translate(-5%, -50%);
                         text-decoration: none;
                         font-size: 2.1em;
                         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                         color: rgb(250, 248, 248);
                         text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.493);
                         border-radius: 20px;
                         margin-right: 30px;    
                     }
                     #navProcedimentosIndor{
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                         text-decoration: none;
                         font-size: 2.1em;
                         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                         color: rgb(250, 248, 248);
                         text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.493);
                         border-radius: 20px;
                         margin-left: 30px;
                         
                     }
                     #navProcedimentosIndor:hover, #navAgendamentosIndor:hover{
                         background-color: rgb(252, 222, 232);
                         color: rgb(207, 72, 72);
                     }
    #navOutdor{
    display: none;
    }
            
    


    body{
        background-image: linear-gradient(to bottom, rgb(252, 210, 217), rgb(250, 175, 204), rgb(252, 159, 179),rgb(253, 115, 157));
    }


    main{
        width: 70vw;
        height: 2500px;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 100px;
        background-color:rgb(252, 203, 203);
        border-radius: 20px;
        padding: 0px;
        
        }

    
    #imgcapa{
       width: 70vw;
       height: 80vh;
       margin-top: 110px;
       margin-bottom: 80px;
        background-image: url("/site-glaucia/imagens/imgcapas/capa1.png");
        background-repeat: no-repeat;
        background-position: top top;
        background-size: 87% 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.788);
        background-attachment:fixed;
    }
    #img2{
        margin-left: 20px;
        margin-right: 20px;
        border-top-left-radius:20px;
        border-bottom-right-radius:20px;
        }
    #img3{
        margin-top: 100px;
        width: 70vw;
        height: 80vh;
        background-image: url('/site-glaucia/imagens/imgcapas/pexels-alexander-kovalev-1585710.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        background-attachment:fixed;
    }
           
    
    
    h1{
        margin-left: 30px;
        width: 400px;
        text-align: center;
        font-family:  'glauciatitulo';
    }
    p{
        margin-left: 30px;
        display: inline-block;
        width: 400px;
        padding: 15px;
        font-family: 'glauciatitulo';
        font-size: 1.2em;
        line-height: 1.6em;
        
    }
       
            }