@charset "UTF-8";

@font-face {
    font-family: 'glaucia';
    src: url('/site-glaucia/fontes/PassionOne-Regular.ttf') format('truetype');
    font-weight: 300;
} 
@font-face {
    font-family: 'glauciatitulo';
    src: url('/site-glaucia/fontes/Lobster-Regular.ttf') format('truetype') ;
    font-weight: 500;
}


@media screen and (min-width:1025px) and (max-width:1440px){
    header{
        height: 13vh;
        width: 100vw;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.603);
        position: fixed;
        top: -1px; 
    }

        #logoGl{
        position: absolute;
        width: 110px;
        height: 70px;
        left: 10%;
        top: 30%;
        transform: translate(-10%, -30%);
    }

        #iconeMenu{
        display: none;
        position: absolute;
        width: 40px;
        height: 50px;
        top: 50%;
        left: 89%;
        transform: translate(-89%, -50%);
        }

        #navIndor{
            display: block;
            position:relative;
            width: 570px;
            height: 74px;
            left: 60%;
            text-align: center;
            
            
        }
                     #navAgendamentosIndor{
                        position: absolute;
                        left: 5%;
                        top: 50%;
                        transform: translate(-5%, -50%);
                         text-decoration: none;
                         font-size: 1.3em;
                         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                         color: rgb(250, 248, 248);
                         text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.493);
                         border-radius: 20px;
                            
                     }
                     #navProcedimentosIndor{
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                         text-decoration: none;
                         font-size: 1.3em;
                         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                         color: rgb(250, 248, 248);
                         text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.493);
                         border-radius: 20px;
                         
                         
                     }
                     #navProcedimentosIndor:hover, #navAgendamentosIndor:hover{
                         background-color: rgb(252, 222, 232);
                         color: rgb(207, 72, 72);
                     }
    #navOutdor{
    display: none;
    }
            
    body{
        background-image: linear-gradient(to bottom, rgb(253, 198, 207), rgb(247, 161, 194), rgb(238, 146, 166),rgb(224, 121, 152));
    }


    main{
        width: 70vw;
        height: 2500px;
        margin: auto;
        margin-top: 60px;
        margin-bottom: 100px;
        background-color:rgb(252, 203, 203);
        border-radius: 20px;
        padding: 0px;
        
        }

    
    #imgcapa{
       width: auto;
       height: 100vh;
       margin-top: 0px;
       margin-bottom: 90px;
        background-image: url("/site-glaucia/imagens/imgcapas/capasitepngcfundo.png");
        background-repeat: no-repeat;
        background-position: bottom bottom;
        background-size: 100% 100%;
        border-radius: 0px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.788);
        background-attachment: fixed;
        
        
    }
    #img2{
        width: 350px;
        height: 350px;
        display: inline-block;
        margin-left: 20px;
        background-image: url('/site-glaucia/imagens/imgcapas/perfil1.png');
        }
        

    #img3{
        margin-top: 100px;
        width: auto;
        height: 80vh;
        background-image: url('/site-glaucia/imagens/imgcapas/pexels-alexander-kovalev-1585710.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        background-attachment:fixed;
        }
       
        #imgmodelo1{
        border: 2px groove rgba(0, 0, 0, 0.911);
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        width: 250px;
        height: 300px;
        border-radius: 50%;
        background-image:url("/site-glaucia/imagens/imgcapas/modelo1.250.jpeg");
        background-position:top center;
        }
        #imgmodelo2{
        border: 2px groove rgba(0, 0, 0, 0.911);
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        width: 250px;
        height: 300px;
        border-radius: 50%;
        background-image:url("/site-glaucia/imagens/imgcapas/modelo2.150.jpeg");
        background-position:center top;
        }
        #imgmodelo3{
        border: 2px groove rgba(0, 0, 0, 0.911);
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        width: 250px;
        height: 300px;
        border-radius: 50%;
        background-image:url("/site-glaucia/imagens/imgcapas/imgcapa3.2.jpeg");
        background-position:center center;
        }
        #imgmodelo1:hover, #imgmodelo2:hover, #imgmodelo3:hover{
            box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.623);

        }
        #pnaimg31{
            width: auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            color: aliceblue;
            background-color: rgba(0, 0, 0, 0.37);
            font-size: 17pt;
        }
        #teste{
            width: auto;
            height:80vh ;
            text-align: center;
        }
    
    
    h1{
        
        
        padding-top: 50px;
        text-align: center;
        font-family:  'glauciatitulo';
    }
    p{
        margin-left: 0px;
        text-align: justify;
        width: 400px;
        padding: 15px;
        font-family: 'glauciatitulo';
        font-size: 1.2em;
        line-height: 1.6em;
        
    }
    
       
}