@charset "UTF-8";

@font-face {
    font-family: 'glaucia';
    src: url('/fontes/Sriracha-Regular.ttf');
}

@media screen and (min-width:1024px) and (max-width:1440px){
    header{
        height: 13vh;
        width: 100vw;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.603);
        position: fixed;
        top: -1px; 
    }

        #logoGl{
        position: absolute;
        width: 110px;
        height: 70px;
        left: 10%;
        top: 30%;
        transform: translate(-10%, -30%);
    }

        #iconeMenu{
        display: none;
        position: absolute;
        width: 40px;
        height: 50px;
        top: 50%;
        left: 89%;
        transform: translate(-89%, -50%);
        }

        #navIndor{
            display: block;
            position:relative;
            width: 570px;
            height: 74px;
            left: 60%;
            text-align: center;
            
            
        }
                     #navAgendamentosIndor{
                        position: absolute;
                        left: 5%;
                        top: 50%;
                        transform: translate(-5%, -50%);
                         text-decoration: none;
                         font-size: 1.3em;
                         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                         color: rgb(250, 248, 248);
                         text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.493);
                         border-radius: 20px;
                            
                     }
                     #navProcedimentosIndor{
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                         text-decoration: none;
                         font-size: 1.3em;
                         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                         color: rgb(250, 248, 248);
                         text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.493);
                         border-radius: 20px;
                         
                         
                     }
                     #navProcedimentosIndor:hover, #navAgendamentosIndor:hover{
                         background-color: rgb(252, 222, 232);
                         color: rgb(207, 72, 72);
                     }
    #navOutdor{
    display: none;
    }
            
    body{
        background-image: linear-gradient(to bottom, rgb(253, 188, 199), rgb(252, 155, 192), rgb(255, 153, 175),rgb(255, 107, 151));
    }


    main{
        width: 70vw;
        margin: auto;
        margin-top: 100px;
        background-color: transparent;
        border-radius: 20px;
        padding: 0px;
        }
    
    #imgcapa{
       width: 70vw;
       height: 80vh;
       margin-top: 150px;
       margin-bottom: 100px;
        background-image: url("/site-glaucia/imagens/imgcapas/capa1.png");
        
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 20px;
    }
       body{
        
        background-image: url('/site-glaucia/imagens/imgcapas/pexels-mo-eid-9063025.jpg');
        background-repeat: no-repeat;
        background-size: 100% 50%;
         
       }
    }